dashboard.json
[
    {
        "id": "87b8ba54e8cb2b27",
        "type": "tab",
        "label": "ZH Live Dashboard",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "99e528a7a3798b5b",
        "type": "MySQLdatabase",
        "name": "",
        "host": "localhost",
        "port": "3306",
        "db": "sensor_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "871c946232a46fe4",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#034bab",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#990000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#000000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#034bab",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#034bab",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#046cf6",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#034bab",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "ZingHub Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b3c2a9c2a9c20001",
        "type": "MySQLdatabase",
        "name": "Local MySQL",
        "host": "localhost",
        "port": "3306",
        "db": "sensor_db",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "f2f2d1d1d1d10001",
        "type": "ui_tab",
        "name": "ZingHub Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a1a1a1a1a1a10001",
        "type": "ui_group",
        "name": "TEMPRATURE",
        "tab": "f2f2d1d1d1d10001",
        "order": 1,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": "group-temp"
    },
    {
        "id": "8b987803ae593635",
        "type": "ui_group",
        "name": "HUMIDITY",
        "tab": "f2f2d1d1d1d10001",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": true,
        "className": ""
    },
    {
        "id": "90273a5b5373804a",
        "type": "ui_group",
        "name": "CO2",
        "tab": "f2f2d1d1d1d10001",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "066ca2eb28089e64",
        "type": "ui_group",
        "name": "AIRFLOW",
        "tab": "f2f2d1d1d1d10001",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": true,
        "className": ""
    },
    {
        "id": "fb1ef46f5c17511b",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "14cc1c108e8da2c7",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "434591555b2474ce",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "8c7e9e82588e46af",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "5076129de42bf7d0",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "f75070bab522acde",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "0c361e3e02545fb5",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "5c21b288be74235c",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "1efc44de779adb48",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 25,
        "width": 3,
        "height": 1
    },
    {
        "id": "61df46d84ba497b5",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "3ecb8a729ee110e0",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "6292aa4ce9059425",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "2004f7cbaf830dc7",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "6f7b8d45b35aa6f3",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "a460b2aaee383315",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "78edd2cdd97c105a",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "a5fa15c6c271ab70",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "424efcd041e9520d",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "2a5765796e01a541",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "65465348c7f4bfa9",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "acee1e57586ff85f",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "313c33bd28022b0b",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "0cc984083b56b918",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "6b4d0f9121112347",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "2a64ee82868af60c",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "22df335ca591effe",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "22aacf9850c216eb",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "7fc30477257d1c4c",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "02aafed774ef6cec",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "3b773792a7db71a8",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "6e7d82abbf8cec89",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 2,
        "height": 1
    },
    {
        "id": "fb8c85e1c903f008",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 11,
        "width": 2,
        "height": 1
    },
    {
        "id": "e3a57c7a7595a48f",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "9ed240305172bb6f",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "7b3f58f626398350",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "ea4b2208662195f0",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 2,
        "height": 1
    },
    {
        "id": "287459ecc3f40fd5",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "7c0e56046bf6028c",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 17,
        "width": 3,
        "height": 1
    },
    {
        "id": "ff48a1a18793d909",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 19,
        "width": 3,
        "height": 1
    },
    {
        "id": "ba235d34ab0c40eb",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "f32c03f9e5a95c2b",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 21,
        "width": 3,
        "height": 1
    },
    {
        "id": "cd70610321f570cf",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "41c89d97006e4421",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "e946aa3ed95ef0f3",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "96f74cf5582232d5",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "0b01a749f11a2563",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "c32d2da0165b964c",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 7,
        "width": 4,
        "height": 1
    },
    {
        "id": "5039d2afcfe46057",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "ad2f10554cb47445",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 9,
        "width": 4,
        "height": 1
    },
    {
        "id": "42ec9f2e688663d3",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "741a62c3eebc203c",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "c420a28678a88622",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "f8ed28891ec5f32e",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "09740c726ba4290f",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "6bcc591d44218a7e",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "17ea11e7c458a850",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 17,
        "width": 1,
        "height": 1
    },
    {
        "id": "7ecc08498e577532",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "18b159ecb48935ab",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "269f46d7eef63aa8",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 20,
        "width": 2,
        "height": 1
    },
    {
        "id": "91fbe95ae84a3bc3",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "07365548ad9a8f89",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "4c0413de0b555ccc",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "cac4fed4fa4341a8",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "",
        "order": 25,
        "width": 3,
        "height": 1
    },
    {
        "id": "44d299a33ead07a7",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "867299af9e822a1a",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "4da865a1c32d8ea1",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "803db2a6d6c11825",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "e34fd5f30bd24adf",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "d5d5626d52441a93",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "20fa52843e65dd72",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "5ecf5dab4e41120c",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "396c79d26f4fe984",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "65171b60ae4cc986",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "90103e4c20b78527",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "195ec42fe4bac790",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "a1a1a1a1a1a10001",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "278154da8093471f",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "f8f9fc7ff2338005",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "76e6aae18d2d2717",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "1fa1ed8d15dc3293",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "17343d5dfc013ffc",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "1ec5444e9d14609a",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "fbd8028ceb16308c",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "340e5837111c4093",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "60c7ea9747bf42bf",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "a638572f562dcc66",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "a26f41a941630e5a",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "1adc1f2e0c95d86b",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "8b987803ae593635",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "291a7a14b17b7238",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "38d297bf6ca0e59d",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "308d653a0476606e",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "72a4c89656cc8ba9",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "19a96783d618783c",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "76f8e0ca28da0fdd",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "ea08f8c0f23a8399",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "8a972d9e0189a51d",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "e1bb3446d384c566",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "fb542e05103769c4",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "a289fecc3181d048",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "a1386f7c5ea159f5",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "90273a5b5373804a",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "2f850ec874cef4c2",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "e9bc3d829adaaa46",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "7224d1471dc098fc",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "126e19bebd2483e5",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "70b107775d7c6142",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 6,
        "width": 2,
        "height": 1
    },
    {
        "id": "17a5d912d8b48f14",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "80713194527ffb29",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 8,
        "width": 2,
        "height": 1
    },
    {
        "id": "98b36079d27c9a09",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "fd2d04552ba0d356",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "94f48872b9d8c6bf",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "9bc92a6ac95d2ee1",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "9abf65df08ae0d90",
        "type": "ui_spacer",
        "z": "87b8ba54e8cb2b27",
        "name": "spacer",
        "group": "066ca2eb28089e64",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "1294f17c950abd4e",
        "type": "inject",
        "z": "87b8ba54e8cb2b27",
        "name": "Every 1s",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 170,
        "y": 140,
        "wires": [
            [
                "1376416b773b1bcc"
            ]
        ]
    },
    {
        "id": "1376416b773b1bcc",
        "type": "function",
        "z": "87b8ba54e8cb2b27",
        "name": "Build AVG + Velocity SQL",
        "func": "msg.topic = `SELECT\n  ROUND(AVG(co2),1)         AS avg_co2,\n  ROUND(AVG(temperature),1) AS avg_temp,\n  ROUND(AVG(humidity),1)    AS avg_hum,\n  ( SELECT air_velocity FROM fs3000 ORDER BY \\`timestamp\\` DESC LIMIT 1 ) AS air_velocity\nFROM (\n  SELECT co2, temperature, humidity FROM (SELECT co2, temperature, humidity FROM scd41_1  ORDER BY \\`timestamp\\` DESC LIMIT 1) t1\n  UNION ALL\n  SELECT co2, temperature, humidity FROM (SELECT co2, temperature, humidity FROM scd41_2  ORDER BY \\`timestamp\\` DESC LIMIT 1) t2\n  UNION ALL\n  SELECT co2, temperature, humidity FROM (SELECT co2, temperature, humidity FROM scd41_3  ORDER BY \\`timestamp\\` DESC LIMIT 1) t3\n  UNION ALL\n  SELECT co2, temperature, humidity FROM (SELECT co2, temperature, humidity FROM scd41_4  ORDER BY \\`timestamp\\` DESC LIMIT 1) t4\n  UNION ALL\n  SELECT co2, temperature, humidity FROM (SELECT co2, temperature, humidity FROM scd41_5  ORDER BY \\`timestamp\\` DESC LIMIT 1) t5\n  UNION ALL\n  SELECT co2, temperature, humidity FROM (SELECT co2, temperature, humidity FROM scd41_6  ORDER BY \\`timestamp\\` DESC LIMIT 1) t6\n  UNION ALL\n  SELECT co2, temperature, humidity FROM (SELECT co2, temperature, humidity FROM scd41_7  ORDER BY \\`timestamp\\` DESC LIMIT 1) t7\n  UNION ALL\n  SELECT co2, temperature, humidity FROM (SELECT co2, temperature, humidity FROM scd41_8  ORDER BY \\`timestamp\\` DESC LIMIT 1) t8\n  UNION ALL\n  SELECT co2, temperature, humidity FROM (SELECT co2, temperature, humidity FROM scd41_9  ORDER BY \\`timestamp\\` DESC LIMIT 1) t9\n  UNION ALL\n  SELECT co2, temperature, humidity FROM (SELECT co2, temperature, humidity FROM scd41_10 ORDER BY \\`timestamp\\` DESC LIMIT 1) t10\n) AS combined;`;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 140,
        "wires": [
            [
                "c0bcc9a2fa946ecb"
            ]
        ]
    },
    {
        "id": "c0bcc9a2fa946ecb",
        "type": "mysql",
        "z": "87b8ba54e8cb2b27",
        "mydb": "99e528a7a3798b5b",
        "name": "Query AVG + Velocity",
        "x": 700,
        "y": 140,
        "wires": [
            [
                "0cbb87cabd3cb925"
            ]
        ]
    },
    {
        "id": "0cbb87cabd3cb925",
        "type": "function",
        "z": "87b8ba54e8cb2b27",
        "name": "Parse → Gauges + Multi-Series Chart",
        "func": "// Outputs (preserves old numbering):\n// 1?4  gauges/levels: CO2, Temp, Hum, Vel\n// 5?8  (placeholders for removed KPI text)\n// 9?12 charts: Temp, Hum, Vel, CO2\n\nconst row = (Array.isArray(msg.payload) && msg.payload[0]) ? msg.payload[0] : {};\n\nconst co2 = Number(row.avg_co2 ?? 0);\nconst tmp = Number(row.avg_temp ?? 0);\nconst hum = Number(row.avg_hum ?? 0);\nlet vel = Number(row.air_velocity ?? row.airflow_ms ?? row.avg_velocity ?? 0);\nif (!Number.isFinite(vel)) vel = 0;\nconst vel2 = Math.round(vel * 100) / 100;\n\n// Gauges / level bars\nconst gCO2 = { payload: co2 };\nconst gTMP = { payload: tmp };\nconst gHUM = { payload: hum };\nconst gVEL = { payload: vel2 };\n\n// Charts (one series each)\nconst cTMP = { topic: \"Temperature\", payload: tmp };\nconst cHUM = { topic: \"Humidity\",    payload: hum };\nconst cVEL = { topic: \"Velocity\",     payload: vel2 };\nconst cCO2 = { topic: \"CO2\",          payload: co2 };\n\n// Keep 5?8 so existing wires don?t break\nreturn [gCO2, gTMP, gHUM, gVEL, null, null, null, null, cTMP, cHUM, cVEL, cCO2];",
        "outputs": 12,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 140,
        "wires": [
            [
                "e9dc9f0bb3139ea8",
                "a874cae26ddba0bf"
            ],
            [
                "29bfcc8892d0cb59",
                "8ac49f1576ad71a3"
            ],
            [
                "4a55d1524dc4057b",
                "38bf454fb2601be8"
            ],
            [
                "8192c4367c50c03d",
                "e896e4a82339828d"
            ],
            [],
            [],
            [],
            [],
            [
                "02c7d399bb6c7acc"
            ],
            [
                "7a2c248a1d81c47b"
            ],
            [
                "ace8fbbdde5dbcc8"
            ],
            [
                "df4cb878bf653a20"
            ]
        ]
    },
    {
        "id": "e9dc9f0bb3139ea8",
        "type": "ui_gauge",
        "z": "87b8ba54e8cb2b27",
        "name": "CO₂ gauge",
        "group": "90273a5b5373804a",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "CO₂ (ppm)",
        "label": "ppm",
        "format": "{{value}}",
        "min": 0,
        "max": "2500",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1000",
        "seg2": "1500",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 20,
        "wires": []
    },
    {
        "id": "29bfcc8892d0cb59",
        "type": "ui_gauge",
        "z": "87b8ba54e8cb2b27",
        "name": "Temperature gauge",
        "group": "a1a1a1a1a1a10001",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature (°C)",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#f5ec00",
            "#ff2600"
        ],
        "seg1": "18",
        "seg2": "30",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 60,
        "wires": []
    },
    {
        "id": "4a55d1524dc4057b",
        "type": "ui_gauge",
        "z": "87b8ba54e8cb2b27",
        "name": "hum-ink",
        "group": "8b987803ae593635",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "wave",
        "title": "Humidity (%)",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "60",
        "diff": false,
        "className": "water-level",
        "x": 1320,
        "y": 100,
        "wires": []
    },
    {
        "id": "8192c4367c50c03d",
        "type": "ui_gauge",
        "z": "87b8ba54e8cb2b27",
        "name": "AirFlow gauge",
        "group": "066ca2eb28089e64",
        "order": 2,
        "width": 4,
        "height": 4,
        "gtype": "gage",
        "title": "AirFlow (m/s)",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "15",
        "colors": [
            "#00b500",
            "#f5ec00",
            "#ff2600"
        ],
        "seg1": "5",
        "seg2": "10",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 140,
        "wires": []
    },
    {
        "id": "648034e17fc497dd",
        "type": "ui_template",
        "z": "87b8ba54e8cb2b27",
        "group": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n  /* Bottom-right watermark (bigger + readable) */\n  body::after{\n    content: \"created by: IBRAHIM ELSAYED\";\n    position: fixed;\n    right: 12px;\n    bottom: 10px;\n    z-index: 99999;\n    pointer-events: none;\n\n    /* Bigger, responsive size */\n    font-family: -apple-system,BlinkMacSystemFont,\"Segoe UI\",Roboto,Ubuntu,Helvetica,Arial,sans-serif;\n    font-weight: 700;\n    font-size: clamp(18px, 1.8vw, 28px);  /* <- bigger */\n    letter-spacing: .3px;\n\n    color: rgba(255,255,255,0.9);\n    text-shadow: 0 2px 4px rgba(0,0,0,0.6);\n\n    /* Optional: add a subtle pill for contrast */\n    padding: 6px 10px;\n    background: rgba(0,0,0,0.35);\n    border-radius: 10px;\n  }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 620,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7a2c248a1d81c47b",
        "type": "ui_chart",
        "z": "87b8ba54e8cb2b27",
        "name": "HUMIDITY chart",
        "group": "8b987803ae593635",
        "order": 16,
        "width": 8,
        "height": 7,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data…",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#09d3fb",
            "#ff7f0e",
            "#1f77b4",
            "#9467bd",
            "#2ca02c",
            "#d62728",
            "#8c564b",
            "#e377c2",
            "#7f7f7f"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "02c7d399bb6c7acc",
        "type": "ui_chart",
        "z": "87b8ba54e8cb2b27",
        "name": "TEMP chart",
        "group": "a1a1a1a1a1a10001",
        "order": 16,
        "width": 8,
        "height": 7,
        "label": "TEMP (c)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data…",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#fa0000",
            "#ff7f0e",
            "#1f77b4",
            "#9467bd",
            "#2ca02c",
            "#d62728",
            "#8c564b",
            "#e377c2",
            "#7f7f7f"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1330,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ace8fbbdde5dbcc8",
        "type": "ui_chart",
        "z": "87b8ba54e8cb2b27",
        "name": "Airflow chart",
        "group": "066ca2eb28089e64",
        "order": 16,
        "width": 8,
        "height": 7,
        "label": "AirFlow (m/s)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data…",
        "dot": false,
        "ymin": "0",
        "ymax": "",
        "removeOlder": "15",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#027451",
            "#ff7f0e",
            "#1f77b4",
            "#9467bd",
            "#2ca02c",
            "#d62728",
            "#8c564b",
            "#e377c2",
            "#7f7f7f"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1310,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "df4cb878bf653a20",
        "type": "ui_chart",
        "z": "87b8ba54e8cb2b27",
        "name": "CO2 chart",
        "group": "90273a5b5373804a",
        "order": 16,
        "width": 8,
        "height": 7,
        "label": "CO₂ (ppm)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Waiting for data…",
        "dot": false,
        "ymin": "15",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#8d8802",
            "#ff7f0e",
            "#1f77b4",
            "#9467bd",
            "#2ca02c",
            "#d62728",
            "#8c564b",
            "#e377c2",
            "#7f7f7f"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a874cae26ddba0bf",
        "type": "ui_level",
        "z": "87b8ba54e8cb2b27",
        "group": "90273a5b5373804a",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "CO2 Level",
        "label": "CO2",
        "colorHi": "#ca3838",
        "colorWarn": "#e6e600",
        "colorNormal": "#00b500",
        "colorOff": "#000000",
        "min": 0,
        "max": "2500",
        "segWarn": "1000",
        "segHigh": "2000",
        "unit": "ppm",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 0,
        "animations": "rocket",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#000000",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": "",
        "x": 1510,
        "y": 20,
        "wires": []
    },
    {
        "id": "8ac49f1576ad71a3",
        "type": "ui_level",
        "z": "87b8ba54e8cb2b27",
        "group": "a1a1a1a1a1a10001",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "Temp Level",
        "label": "Temperature",
        "colorHi": "#ff2600",
        "colorWarn": "#f5ec00",
        "colorNormal": "#00b500",
        "colorOff": "#000000",
        "min": 0,
        "max": "50",
        "segWarn": "18",
        "segHigh": "30",
        "unit": "C",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 1,
        "animations": "reactive",
        "shape": "3",
        "colorschema": "fixed",
        "textoptions": "default",
        "colorText": "#000000",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": "",
        "x": 1510,
        "y": 80,
        "wires": []
    },
    {
        "id": "38bf454fb2601be8",
        "type": "ui_level",
        "z": "87b8ba54e8cb2b27",
        "group": "8b987803ae593635",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "Humidity Level",
        "label": "Humidity",
        "colorHi": "#ca3838",
        "colorWarn": "#e6e600",
        "colorNormal": "#00b500",
        "colorOff": "#000000",
        "min": 0,
        "max": "100",
        "segWarn": "30",
        "segHigh": "70",
        "unit": "%",
        "layout": "sh",
        "channelA": "dry",
        "channelB": "Humid",
        "decimals": 0,
        "animations": "rocket",
        "shape": "3",
        "colorschema": "valuedriven",
        "textoptions": "default",
        "colorText": "#000000",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": "",
        "x": 1520,
        "y": 140,
        "wires": []
    },
    {
        "id": "e896e4a82339828d",
        "type": "ui_level",
        "z": "87b8ba54e8cb2b27",
        "group": "066ca2eb28089e64",
        "order": 11,
        "width": 6,
        "height": 1,
        "name": "AirFlow Level",
        "label": "AirFlow (m/s)",
        "colorHi": "#d62728",
        "colorWarn": "#ff7f0e",
        "colorNormal": "#1f77b4",
        "colorOff": "#000000",
        "min": 0,
        "max": "10",
        "segWarn": "4",
        "segHigh": "7",
        "unit": "",
        "layout": "sh",
        "channelA": "",
        "channelB": "",
        "decimals": 2,
        "animations": "rocket",
        "shape": "3",
        "colorText": "#000000",
        "fontLabel": "",
        "fontValue": "",
        "fontSmall": "",
        "colorFromTheme": true,
        "textAnimations": true,
        "hideValue": false,
        "tickmode": "segments",
        "peakmode": false,
        "property": "payload",
        "peaktime": "",
        "x": 1540,
        "y": 200,
        "wires": []
    },
    {
        "id": "9b8c8dfb8e8eb324",
        "type": "debug",
        "z": "87b8ba54e8cb2b27",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 480,
        "wires": []
    },
    {
        "id": "76280f72eb37b7e3",
        "type": "ui_template",
        "z": "87b8ba54e8cb2b27",
        "group": "",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<style>\n  /* Built-in Dashboard Gauge (Type=Level) */\n  .hum-ink .nr-dashboard-level text.value,\n  .hum-ink .nr-dashboard-gauge text.value {\n    fill: #00c0ff !important;   /* aqua-ish text color */\n  }\n\n  /* node-red-contrib-ui-level (circle/level widgets) */\n  .hum-ink .ui-level__value,\n  .hum-ink .ui-level .value,\n  .hum-ink .ui-level--circle .value {\n    color: #00c0ff !important;  /* same color for HTML text */\n  }\n\n  /* Fallback for older dashboard builds where the value\n     text doesn?t have the 'value' class */\n  .hum-ink svg text[font-size=\"48\"],\n  .hum-ink svg text[font-size=\"52\"] {\n    fill: #00c0ff !important;\n  }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 760,
        "y": 580,
        "wires": [
            []
        ]
    }
]